<section class="sectionGeneral">
    <section class="sectionPais">
        <section>
            <h6>Nombre del pais:</h6>
            <h4>Chile</h4>
            <img src="./assets/chile.png" alt="">
        </section>
        <section>
            <h6>Datos generales:</h6>
            <p>Chile es un país de América ubicado en el extremo sudoeste de América del Sur . Su nombre oficial es República de Chile26 ? y su capital es la ciudad de Santiago.27 ? n 8 ? Primer país sudamericano en ingresar a la Organización para la Cooperación y el Desarrollo Económicos , Chile es una de las economías de América Latina que más ha crecido desde mediados de la década de 1980 . Antes del descubrimiento de América , las tierras situadas al sur del desierto de Atacama ya se llamaban Chili en la tradición indigena.46 ? Una vez instalados en Nueva Castilla y Nueva Toledo , los conquistadores españoles siguieron llantado de esa forma a la región del sur , a veces también conocida como « valle de Chile » , nombre que se extendió posteriormente a todo el pais 47</p>
        </section>        
    </section>
</section>
