<section class="sectionGeneral">
    <section class="sectionPais">
        <section>
            <h6>Nombre del pais:</h6>
            <h4>Perú</h4>
            <img src="./assets/peru.png" alt="">
        </section>
        <section>
            <h6>Datos generales:</h6>
            <p>Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu , una antigua ciudad inca en Andes . La región en torno a Machu Picchu , incluido el Valle Sagrado , el Camino del Inca y la ciudad colonial de Cuzco , es rica en sitios arqueológicas . Muchas personas escogen vivir en Perú porque ciertamente hay buenas oportunidades de trabajo para inmigrantes . Ademas , es un país muy hermoso , con buena comida y recepción agradable para los extranjeros</p>
        </section>        
    </section>
</section>
